body {
    background-color: rgb(88, 87, 87);
}

.cabecalho {
    background-color: black;
    text-align: center;
    color: white;
}

.descricao {
    background-color: black;
    text-align: center;
    color: white;
}

.Foto {
    text-align: center;
    background-color: black;
}

.Foto img {
    width: 500px;
}
