body {
    font-family: 'Roboto', sans-serif;
    background-image: url("fundoroxo.avif");
    background-size: cover;
}

.cabecalho {
    text-align: center;
    color: white;
}

.descricao {
    text-align: center;
    color: white;
}

.Foto {
    text-align: center;
}

.Foto img {
    height: 500px;
    width: 30%;
}